@import "../../assets/scss/ourStyles.scss";

.top{
  display: flex;
  padding: 11px 0px;
  align-items: center;
  border-bottom: 1px solid rgba(244, 240, 230, 1);
  justify-content: space-between;
  .left{
    display: flex;
    align-items: center;
  }
  .time{
    margin-left: 30px;
  }
  .about{
    display: flex;
    align-items: center;
    .info{
      margin-left: 30px;
    }
  }
  .info{
    display: flex;
    align-items: center;
    img{
      margin-right: 4px;
      height: 22px;
      width: 22px;
    }
    span{
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}

.source{
  display: flex;
  align-items: center;
  margin-top: 20px;
  .sourceHref{
    text-decoration: none;
  }
  .sourseItem{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(128, 128, 128, 1);
    text-decoration: none;
  }
  .sourceImg{
    height: 22px;
    width: 22px;
  }
}